@model StudentRecord.Models.Entities.Student


@{
    ViewData["Title"] = "Register Student";
}

<h2>Register Student</h2>
<form method="post" asp-action="Create">

    <div class="form-group">
        <label asp-for="Name"> </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"> </label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form >